@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
/* ----------- Style for all ------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style: none;
}

/* ---------------- Style for ensemble ---------------- */
.flex-r {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.flex-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.lien {
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgb(228, 47, 122);
    color: White;
    width: 200px;
    height: 50px;
    text-transform: capitalize;
}

.font-title {
    font-weight: bold;
    font-size: 1.6em;
    color: White;
}

.wd-he {
    width: 100px;
}

a[href*='wahil']:hover, a[href^='fb']:hover {
    color: rgb(211, 17, 17); 
}

/* ------------------- Style for container -------------------- */
.container {
    background-image: linear-gradient(to bottom, #404040,#dfc6d2 );
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90px auto auto; /* -- mis 100% au   lieu de auto : esay -- */
    grid-template-areas: "header header header header header header header header header header header header "
    "main main main main main main main main main main main main "
    "footer footer footer footer footer footer footer footer footer footer footer footer ";
}





/* ----------- Style for header ------------ */
.container .main-header {
    grid-area: header;
    position: relative;
    background-color: rgb(55 51 50);;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100%; 
    grid-template-areas: "logo logo . . . menu menu menu menu menu menu menu ";
    position: sticky;
    top: 0px;
    z-index: 111;
}

/* -- Logo -- */
.container .main-header .div-logo {
    grid-area: logo;
}

.container .main-header .div-logo img {
    width: 80px;
}

/* -- menu -- */
.container .main-header .main-nav {
    grid-area: menu;
}

.container .main-header .main-nav ul {
    grid-area: menu;
    width: 100%;
    height: 100%;
}

.container .main-header .main-nav ul li {
}

.container .main-header .main-nav ul li a {
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: block;
}

.container .main-header .main-nav ul li a:hover {
    color: rgb(231, 152, 152);

}

/* ---- HumBurger Style ----- */ 
.container .main-header .div-humburger {
    position: absolute;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 20px;
    cursor: pointer;
    justify-content: center;
    display: none;
}

.container .main-header .div-humburger .ens-bar {
    width: 30px;
    height: 4px;
    background-color: white;
    transform-origin: right;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.container .main-header .div-humburger .left-bar {

}

.container .main-header .div-humburger .middle-bar {
}

.container .main-header .div-humburger .right-bar {

}

/* .container .main-header .phone-hidden {
    display: none;
} */
.container .main-header .div-phone-menu {
    position: absolute;
    display: block;
    right: 0;
    top: 88px;
    width: 100%;
    background-color: rgb(82, 80, 77);
    height: 0px;
    overflow: hidden;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.container .main-header .div-phone-menu ul {
    row-gap: 0px;
    width: 100%;

}

.container .main-header .div-phone-menu ul .phone-nav-item {
    width: 100%;
    height: 50px;

}

.container .main-header .div-phone-menu ul .phone-nav-item a {
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.container .main-header .div-phone-menu ul .phone-nav-item a:hover {
    background-color: antiquewhite;
    color: black;
}





/* ----------- Style for section ------------ */
.container main {
    grid-area: main;
    height: auto;
    width: 100%;

    
}

.container main .row {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto; /* -- mis 100% au   lieu de auto : esay -- */
    grid-template-areas: "art-0 art-0 art-0 art-0 art-0 art-0 art-0 art-0 art-0 art-0 art-0 art-0 "
    "art-1 art-1 art-1 art-1 art-1 art-1 art-1 art-1 art-1 art-1 art-1 art-1 "
    "art-2 art-2 art-2 art-2 art-2 art-2 art-2 art-2 art-2 art-2 art-2 art-2 ";
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    z-index: 1111;
}

/* ------------------------------------ article-0 ------------------------------------------- */
.container main .row .art-0 {
    grid-area: art-0;
    width: 100%;
    min-height: 900px;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* ---- image-background ---- */
.container main .row .art-0 .div-bg-art-0 {
    position: absolute;
    width: 1920px;
    height: 100%;

}

.container main .row .art-0 .div-bg-art-0 img {
    width: 100%;
    height: 100%;

}

/* -- container-article -- */
.container main .row .art-0 .container-art {
    width: 650px;
    z-index: 1;
    height: 550px;
    align-content: flex-start;
    opacity: 2;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}

/* -- div-title-artcile -- */
.container main .row .ens-art .container-art .div-title-art {
    width: 100%;
    min-width: 0px;
    min-height: 150px;
    height: auto;
}

.container main .row .art-0 .container-art .div-title-art .main-title {
    font-size: 2rem;
    width: 90%;
}

/* -- description-snack -- */
.container main .row .art-0 .container-art .div-desc-snack {
    width: 90%;
    min-height: 300px;
    height:auto;
    word-wrap: break-word;
} 

.container main .row .art-0 .container-art .div-desc-snack .descr-snack {
    font-size: 25px;
    height: auto;
    font-weight: 100;
    line-height: 1.7;

}

/* -- lien-commander-article-0 -- */
.container main .row .art-0 .container-art .div-desc-snack .lien-commander {

    padding-right: 3px;

}


/* --------------------------------------- article-1 --------------------------------------------- */

.container main .row .art-1 {
    grid-area: art-1;
    background-image: linear-gradient(to right, rgb(75, 71, 71), gray);
    width: 100%;
    height: auto;
}

.container main .row .art-1 .container-art {
    width: 100%;
    height: auto;
    min-height: 700px;
}

/* -- title-plat -- */ /* -- style commune : font-title -- */
.container main .row .ens-art .container-art .div-title-art .title-art {

}


/* -- all-plat -- */
.container main .row .ens-art .container-art .all-Plats {
    width: 90%;
    height: auto;
    
}

/* -- chaque-plat -- */
.container main .row .ens-art .container-art .all-Plats .plat {
    width: 31%;
    min-width: 0px;
    align-items: flex-start;
    row-gap: 0px;
}

/* -- image-plat -- */
.container main .row .ens-art .container-art .all-Plats .plat .div-plat-img {
    width: 100%;
    height: 370px;
    
}

.container main .row .ens-art .container-art .all-Plats .plat .div-plat-img img {
    width: 100%;
    height: 100%;
}

/* -- info-plat -- */
.container main .row .ens-art .container-art .all-Plats .plat .info-plat {
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: auto;
    min-height: 130px;
}

.container main .row .ens-art .container-art .all-Plats .plat .info-plat .descp-plat {
    width: 95%;
    line-height: 1.6;
    font-size: 1.1em;
}

/* -- func-plat -- */
.container main .row .ens-art .container-art .all-Plats .plat .func-plat {
    width: 100%;
    height: 70px;
    line-height: 1.6;
    justify-content: flex-start;
}

.container main .row .ens-art .container-art .all-Plats .plat .func-plat .lien-plat {

}









/* ----------- article-2 ------------ */
.container main .row .art-2 {
    grid-area: art-2;
    color: rgb(228, 219, 219);
    width: 100%;
    height: auto;
    position: relative;
}

.container main .row .art-2 .bg-spicialites {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.container main .row .art-2 .container-art {
    background-color: black;
    width: 100%;
    min-height: 900px;
    height: auto;
    align-content: flex-start;
    row-gap: 10px;
}

.container main .row .art-2 .container-art .div-title-art {
    height: 200px;
    text-transform: capitalize;
    z-index: 1;
}

.container main .row .art-2 .container-art .all-spécialites {
    width: 1200px;
    height: auto;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 100px;
    padding-left: 100px

}

.container main .row .art-2 .container-art .all-spécialites .spécialiter {
    width: 450px;
    min-height: 200px;
    height: auto;
    display: flex;
    justify-content: none;
    align-items: none;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 20px;
    position: relative;
    word-wrap: break-word;
}

.container main .row .art-2 .container-art .all-spécialites .spécialiter .logo-spicialiter {
    position: absolute;
    top: -10%;
    left: -90px;
    width: 60px;
    height: 60px;

}

.container main .row .art-2 .container-art .all-spécialites .spécialiter .div-title-spécialites {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.1rem;
}


.container main .row .art-2 .container-art .all-spécialites .spécialiter .div-title-spécialites .title-spécialites {
    font-size: 1.15em;
}

.container main .row .art-2 .container-art .all-spécialites .spécialiter .info-spécialites {
    width: 100%;
}














/* ----------- Style for footer ------------ */
.container footer {
    grid-area: footer;
    background-color: black;
    color:aliceblue;
    min-height: 400px;
}

/* -- container footer -- */
.container footer .container-footer {
    width: 1200px;
    height: 100%
}

/* -- div-title-footer -- */
.container footer .container-footer .div-title-footer {
    width: 100%;
    height: 100
}

/* -- all-coordonnées -- */
.container footer .container-footer .all-cordonnes {
    width: 100%;
    min-height: 200px;
    height: auto;
}

.container footer .container-footer .all-cordonnes .cordonner {
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container footer .container-footer .all-cordonnes .cordonner .title-cordonner {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.container footer .container-footer .all-cordonnes .cordonner .info-cordonner {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}

/* -- div-copyright -- */
.container footer .container-footer .div-copyright {
    width: 100%;
}

.container footer .container-footer .div-copyright a {
    text-align: center;

}

